main {
  position: fixed;
  margin-top: 4.5rem;
  width: calc(100% - 18.5rem);
  left: calc(17.5rem);
  background-color: #fff;
  margin: 4.5rem 0.5rem 0 0.5rem;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
