.sidebar-container {
  position: fixed;
  margin-top: 4.5rem;
  margin-left: 0.5rem;
  width: 17rem;
  background-color: #fff;
  height: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.scroll-div {
  overflow-y: scroll;
  height: 100%;
}

.scroll-div::-webkit-scrollbar {
  width: 0px;
}

.scroll-div::-webkit-scrollbar-track {
  border-radius: 0px;
}

.scroll-div::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.sidebar-options {
  margin-top: 20px;
}
.option {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
  cursor: pointer;
}

.option-heading {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}
.option-container {
  margin-bottom: 70px;
}

.option p {
  margin-left: 12px;
  font-size: 16px;
}
